#pagerank-client {
	cursor: pointer;
	width: 40px;
	list-style-image: url('pr-sprite.gif');
	-moz-image-region: rect(0, 40px, 19px, 0);
}

#pagerank-client[rank='na'] { -moz-image-region: rect(19px, 40px, 38px, 0); }
#pagerank-client[rank='0']  { -moz-image-region: rect(38px, 40px, 57px, 0); }
#pagerank-client[rank='1']  { -moz-image-region: rect(57px, 40px, 76px, 0); }
#pagerank-client[rank='2']  { -moz-image-region: rect(76px, 40px, 95px, 0); }
#pagerank-client[rank='3']  { -moz-image-region: rect(95px, 40px, 114px, 0); }
#pagerank-client[rank='4']  { -moz-image-region: rect(114px, 40px, 133px, 0); }
#pagerank-client[rank='5']  { -moz-image-region: rect(133px, 40px, 152px, 0); }
#pagerank-client[rank='6']  { -moz-image-region: rect(152px, 40px, 171px, 0); }
#pagerank-client[rank='7']  { -moz-image-region: rect(171px, 40px, 190px, 0); }
#pagerank-client[rank='8']  { -moz-image-region: rect(190px, 40px, 209px, 0); }
#pagerank-client[rank='9']  { -moz-image-region: rect(209px, 40px, 228px, 0); }
#pagerank-client[rank='10'] { -moz-image-region: rect(228px, 40px, 247px, 0); }